<div>
    <!-- class="img-fluid" -> responsive -->
    <img src="/lib/img/loulou.png" class="img-fluid" alt="...">

    <!-- class="img-fluid" -> responsive & bordure  -->
    <img src="/lib/img/loulou.png" class="img-fluid img-thumbnail" alt="...">


    <!-- class="img-fluid" -> responsive & cercle  -->
    <img src="/lib/img/loulou.png" class="img-fluid rounded-circle" alt="...">
</div>
