@if (Exemple is null) {
    <PageTitle>Grid System</PageTitle>

    <div class="container">
        <div class="row">

            <!-- class="col-lg-6" on prend la class colonne dont la surface est divivée par 12 -->
            <!-- ici on prend 6 et au col-lg à partir de lg >= 992px les 2 blocks seront côte à côte -->
            <div id="block1" class="col-lg-6" style="border: 1px solid chocolate">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block2" class="col-lg-6" style="border: 1px solid chocolate">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
        </div>
    </div>
}
else if (Exemple == 2){
    <PageTitle>Grid System Exemple 2</PageTitle>

    <div class="container">
        <div class="row">

            <!-- pour tous les blocks supérieurs à 768 px environ tablette on prend 2 élements sur la même ligne  -->
            <!-- en même on veut sur les grand écran de plus de 992 px 3 colonnes sur la même ligne -->
            <!-- en même on veut sur les grand écran de plus de 1140 px 4 colonnes sur la même ligne -->
            <div id="block1" class="col-md-6 col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block2" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block3" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block4" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block5" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block6" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block7" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block8" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block9" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block10" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block11" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block12" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
        </div>
    </div>

}

@code{
    [Parameter]
    public int? Exemple { get; set; }
}
