@page "/"

<PageTitle>CV Aurélien Loudières</PageTitle>

<div data-bs-spy="scroll" data-bs-target="#navbar-cv" 
    data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" 
    class="scrollspy-example rounded-2" tabindex="0">

    <SectionEntete></SectionEntete>
    <Competence></Competence>
    <Experience></Experience>
    <Education></Education>
    <Portfolio></Portfolio>
    <Recommandation></Recommandation>
    <Footer></Footer>
</div>