<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp-Bootstrap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/container">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> bootstrap/2/container
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/breakPoints">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> bootstrap/2/breakPoints
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/gridSystem">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> bootstrap/2/gridSystem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/gridSystem/2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid System exemple 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/typography">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>bootstrap/2/typography
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap/2/formulaire">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>bootstrap/2/formulaire
            </NavLink>
        </div>
    </nav>
</div>

