@page "/bootstrap"
@page "/bootstrap/{Section:int}/{Partie}"
@page "/bootstrap/{Section:int}/{Partie}/{Exemple:int}"

@inherits BootstrapBase

@rendermode InteractiveAuto

<!--
            Super petit <576px  Petit ≥576px    Moyen ≥768px    Grand ≥992px    X - Grand ≥1200px   XX - Grand ≥1400px
.container              100 %   540px           720px           960px           1140px              1320px
.container - sm         100 %   540px           720px           960px           1140px              1320px
.container - md         100 %   100 %           720px           960px           1140px              1320px
.container - lg         100 %   100 %           100 %           960px           1140px              1320px
.container - xl         100 %   100 %           100 %           100 %           1140px              1320px
.container - xxl        100 %   100 %           100 %           100 %           100 %               1320px
.container - fluid      100 %   100 %           100 %           100 %           100 %               100 %

-->

@if (Section == 2 && Partie == "container" && Exemple is null)
{
    <PageTitle>Container</PageTitle>
    <!-- class="container" largeur fixe par rapport au breakpoints du viewport -->
    <!-- class="container-fluid" largeur 100% du viewport -->

    <div class="container" style="background-color: aquamarine">
        <h1>Ma page Bootstrap</h1>
        <p>Mon premier paragraphe Bootstrap</p>
    </div>
}

@if( Section == 2 && Partie == "breakPoints" && Exemple is null )
{
    <BootstrapBreakPoints></BootstrapBreakPoints>
}
@if( Section == 2 && Partie == "gridSystem" && Exemple is null )
{
    <BootstrapGridSystem></BootstrapGridSystem>
}
else if (Section == 2 && Partie == "gridSystem" && Exemple == 2 )
{
    <BootstrapGridSystem Exemple="Exemple"></BootstrapGridSystem>
}

@if (Section == 2 && Partie == "typography" && Exemple is null)
{
    <BootstrapTypography></BootstrapTypography>
}

@if (Section == 2 && Partie == "formulaire" && Exemple is null)
{
    <BootstrapFormulaire Login="Login" LoginChanged="SaveLogin"></BootstrapFormulaire>
}

@if (Section == 2 && Partie == "button" && Exemple is null) {
    <BootstrapButton></BootstrapButton>
}

@if (Section == 2 && Partie == "button" && Exemple == 2)
{
    <BootstrapGroupButton></BootstrapGroupButton>
}

@if (Section == 2 && Partie == "image" && Exemple is null)
{
    <BootstrapImage></BootstrapImage>
}
@if (Section == 2 && Partie == "icon" && Exemple is null)
{
    <BootstrapIcon></BootstrapIcon>
}
<!-- section 3 bootstrap -->
@if (Section == 3 && Partie == "dropdown" && Exemple is null)
{
    <BootstrapDropdown></BootstrapDropdown>
}

@if (Section == 3 && Partie == "progressBar" && Exemple is null)
{
    <BootstrapProgressBar></BootstrapProgressBar>
}
    
@if (Section == 3 && Partie == "tooltip" && Exemple is null)
{
    <BootstrapTooltip></BootstrapTooltip>
}

@if (Section == 3 && Partie == "modal" && Exemple is null)
{
    <BootstrapModal></BootstrapModal>
}