<section id="scrollspyEducation" class="text-center odd">
    <div class="container pt-5">
        <hr class="dividerRed" />
        <h3 class="text-uppercase mt-2 fw-bolder">Education</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card w-95 mt-4">
                        <div class="card-body">
                            <span>1998-2000</span>
                            <p class="no-margin"><i class="bi bi-award-fill"></i></p>
                            <h5 class="card-title">IUT Rodez</h5>
                            <h6>DUT informatique de gestion</h6>
                            <hr class="dividerRed" />
                            <p class="card-text">
                                Système d'information<br/>
                                SQL<br/>
                                Réseau<br />
                                Merise
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card w-95 mt-4">
                        <div class="card-body">
                            <span>Fevrier 2008-Avril 2008</span>
                            <p class="no-margin"><i class="bi bi-award-fill"></i></p>
                            <h5 class="card-title">Ipst-Cnam Toulouse</h5>
                            <h6>Remise à niveau</h6>
                            <hr class="dividerRed" />
                            <p class="card-text">
                                Programmation object <br/>
                                SQL <br/>
                                Réseau <br/>
                                UML
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card w-95 mt-4">
                        <div class="card-body">
                            <span>2020-2021</span>
                            <p class="no-margin"><i class="bi bi-award-fill"></i></p>
                            <h5 class="card-title">AFPA Brive</h5>
                            <h6>VAE - bac +3/+4 </h6>
                            <hr class="dividerRed" />
                            <p class="card-text">
                                C# et environnement<br/>
                                Design patern<br />
                                HTML - CSS - Javascript - Bootstrap <br/>
                                UML
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</section>