<section id="scrollspyEducation" class="text-center odd">
    <div class="container pt-5">
        <hr class="dividerRed" />
        <h3 class="text-uppercase mt-2 fw-bolder">Education</h3>
    </div>
</section>