<section id="scrollspyExperience" class="text-center pt-4">
    <div class="container-fluid even">
        <hr class="dividerWhite" />
        <h3 class="text-uppercase mt-3 ">Expérience professionelle</h3>

        <section id="timeline">
            <div class="container py-5">
                <div class="main-timeline">
                    <div class="timeline left">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>Fédération PEEP</h5>
                                <h6>Développeur web</h6>
                                <span><i class="bi bi-clock-fill"></i>&ensp;2001-2003</span>
                                <p class="mb-0">
                                    Développement et maintenance d'une application intranet
                                    sous VbScript/Html/SqlServer.
                                    Gestion de la base de données.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline right">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>Interim</h5>
                                <h6>Mission divers</h6>
                                <span><i class="bi bi-clock-fill"></i>&ensp;2003-2008</span>
                                <p class="mb-0">
                                    Mission divers en interim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline left">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>Lomaco informatique</h5>
                                <h6>Développeur d'application</h6>
                                <span><i class="bi bi-clock-fill"></i>&ensp;2009-2011</span>
                                <p class="mb-0">
                                    Développement de logiciels de gestion sous Windev 10 à 16
                                    pour Mr Bricolage, Maison de la literie etc.
                                    Développement d'un logiciel de gestion de facturation de
                                    transport sanitaire sous Php/Html/Javascript/Jquery/Mysq.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline right">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>Interim</h5>
                                <h6>Mission divers</h6>
                                <span><i class="bi bi-clock-fill"></i>&ensp;2011-2020</span>
                                <p class="mb-0">
                                    Mission divers en interim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline left">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>Logsystem / Fokus It à Lyon</h5>
                                <h6>Développeur d'application</h6>
                                <span><i class="bi bi-clock-fill"></i>&ensp;2021-2023</span>
                                <p class="mb-0">
                                    Développement et maintenance d'une application
                                    d'anatomopathologie sous Progress 4gl.
                                    Développement pour le passage de l'agrément de
                                    l'assurance maladie sous Progress 4gl.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>