<footer>
    <div class="container-fluid text-center pt-3 div-footer">
        <p class="no-margin">
            <a href="#scrollspyHeading"><span class="bi bi-chevron-compact-up"></span></a>
       </p>
       <p class="no-margin">
            <a href="https://louloulabeille.alwaysdata.net/" target="_blank">&copy; mon CV</a>
       </p>
        
    </div>
</footer>