<section id="scrollspyRecommandation" class="text-center">
    <div class="container-fluid odd pt-2">
        <hr class="dividerRed" />
        <h3 class="text-uppercase mt-3 ">Recommandations</h3>
    </div>
    <div class="container" >
        <div id="carouselExampleIndicators" style="height: 150px;" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner text-center mt-5">
                <div class="carousel-item active">
                    <h4>"Je trouve cela gringe !!"</h4>
                    <p>Louloulabeille développeur par interim</p>
                </div>
                <div class="carousel-item">
                    <h4>"Le meilleur du meilleur des meilleurs."</h4>
                    <p>Alien Wemby, vive les Spurs</p>
                </div>
                <div class="carousel-item">
                    <h4>"Travailleur sérieux, impliqué."</h4>
                    <p>Ma dernière CEO.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
