
<section class="container-fluid-sm text-center" id="scrollspyHeading">
    <h3 class="pt-3 text-light text-uppercase">Hello, c'est moi Aurélien</h3>
    <h5 class="text-dark mt-2">Développeur Fullstack</h5>

    <a href="lib/docs/Aurelien Loudieres.pdf" target="_blank" 
       class="btn btn-outline-light about text-uppercase bord border border-white
       fw-bold fs-6 mt-2 mb-5">Télécharger Cv</a>
</section>

